body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

:root {
  --black: #3B434E;
  --white: white;
  --primary: #7653FC;
  --primary-hover:#23116b;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans Display", sans-serif;
  --gray-light:#7a7777;
}